* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy Light', serif;
}

html,
body {
    height: 100%;
    width: 100%;
    
}

#main {
    width: 100%;
    height: 100%;
    /* background-image: url(img/kayra-sercan-v10lH6UUEGw-unsplash.jpg);
    background-size: cover; */
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;

}
#navr{
   width: 70%;
   display: flex;
}
#navr a {
    margin: 10px 10px;
    text-decoration: none;
    color: rgb(52, 52, 52);

}

.search{
    height: 23px;
    border-radius: 4px;
    border: 1px solid rgb(151, 151, 151);
}
.nav-search{
    color: #198754;
    background-color: white;
    border: 1px solid #198754;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* height: 15px; */
    padding: 4px 10px;
}

.nav-search:hover{
  background-color: #198754;
  color: white;
}
/* #navr a #aa {
    margin: 20px;
    padding: 100px;
} */

#cards {
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-top: 1vh; */
    align-items: center;
    /* height: ; */
}
#cards-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:4vw ;
    margin-bottom: 15px;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 30%;
    /* padding: 0px 10px; */
    margin: auto;
    margin-bottom: -25px ;
}

.card-content {
    width: 100%;
    text-align: center;
}

#cardmid-content{
    /* padding: 15px 0px;; */
    margin: 19px 0px;
}

#cardp{
    margin: 10px;
}
.card-content p {

    padding: 0px 0px;
    margin: 1px;
}

.card button {
    margin-bottom: 15px;
}

.box {
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #a19d9d;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}

.box h2 {
    margin: 6px;
    padding-top: 4px;
    padding-bottom: 3px;


}

.card:hover .box {
    color: aqua;
    background-color: royalblue;
    border-color: royalblue
}


.card:hover {
    border-color: #007bff;
}

.card:hover h2 {
    color: white;
}


h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    transition: all 0.3s ease-in-out;
}

p {
    margin-bottom: 1em;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

#table{
    margin: auto;
    margin-top: 2vw;
    width: 71%;
  }
   
table {
    width: 100%;
    background-color: white;
    margin-top: 1.5vw;
   
  }
  
  th, td {
    
    padding: 12px 8px;
    text-align: left;
   
  }

  
  tr {
    box-shadow: 0px 2px 4px rgba(147, 147, 147, 0.25);
  }

  #bold,th h3{
    font-family: 'Gilroy ExtraBold','serif';
  }

 